body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.42857143;
    color: rgb(86, 77, 77);
    background-color: rgb(238, 237, 244);
}


.h1-font {
    justify-content: center !important;
    text-align: center !important;
    color: #65539d;
    margin-top: 40px;
}

.inquire {
background-color: #65539d !important;
color: white !important;
font-weight: 500;
padding: 12px;
border-radius: 3em;
font-size: 22px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
    border-color: none !important;
    border: 0px !important;
}

.card-1 {
    border: none !important;

}

p {
    margin-top: 20px;
    justify-content: center !important;
    text-align: center;
}

.container-home {
    padding: 10px;
    margin-top: 40px;
}


.legend-1 {
    color: #f8f5f9;
    position: absolute;
    top: 20%;
    left: 30%;
    display: flexbox;
    justify-content: center !important;
    text-align: center !important;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    background-color: none !important;

}

@media (max-width: 767px) {
    .legend-1 {
        width: 100%;
        position: absolute;
        left: 2% !important;
        flex-direction: column;
        font-size: 25px;
        align-items: center !important;
  }
}

img { 
    opacity: 70% !important;
}

.image1 {
    border-color: #5B4B8A;
    border: 1px;
}