.primary {
    background-color: #5B4B8A !important;
    width: 30%;
    color: white !important;
    font-weight: 500;
    font-size: 22px;
    padding: 12px;
    border-radius: 3em;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.h1-font {
    justify-content: center !important;
    text-align: center !important;
    color: #5B4B8A;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .primary{
    width: 35%;
    }

    .card-img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 80%;
    }

    .card-2 {
    width: 80% !important;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    }

     }