.btn {
    border: none !important;
}

.text-center {
    padding: 20px !important;

}

.h1-font {
    justify-content: center !important;
    text-align: center !important;
    color: #5B4B8A;
    margin-top: 30px;
    margin-bottom: 30px;
}