
.btn {
background-color: #5B4B8A !important;
color: white !important;
font-weight: 500;
padding: 6px;
border-radius: 3em;
font-size: 22px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

