.purple {
background-color: #65539d !important;
color: white !important;
font-weight: 500;
padding: 12px;
border-radius: 3em;
font-size: 22px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}